html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	text-align: center;
	background-color: #f5f5f5;
}

.fa{
    color: #00295F !important;
}

.fas{
    font-size: 4rem;
    color: #00295F;
}

.table__button-group {
  visibility: hidden;
  transition: visibility 0.06s ease-in;
}
tr:hover > td .table__button-group {
  visibility: visible;
}
tr:hover {
  background-color: #f5f8fc;
}

.icon-label {
    color: #00295F;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #00295F !important;
    border-color: #00295F !important;
}

.over-modal:nth-of-type(even) {
    z-index: 1052 !important;
}
.over-modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}
