<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<title>Home</title>

<body>

<nav th:replace="snippets.html :: name_home_navbar"></nav>

<div class="container py-5">

	<div class="row">&nbsp;</div>

 <!-- Top row with form-->
	<div class="row">
		 <div class="col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/brands}" title="Brand"> <i class="fa-sharp fa-solid fa-b fas"></i> </a>
			<label class="icon-label">Brand</label>
		</div>
		<div class="col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/product}" title="Product"> <i class="fa-brands fa-p fas"></i> </a>
			<label class="icon-label">Product</label>
		</div>
		<div class="col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/inventory}" title="Inventory"> <i class="fa-solid fa-store fas"></i> </a>
			<label class="icon-label">Inventory</label>
		</div>
		<div class="col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/order}" title="Order"> <i class="fa-solid fa-cart-shopping fas"></i> </a>
			<label class="icon-label">Order</label>
		</div>
		<div class="supervisor col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/sales-report}" title="Sales-Report"> <i class="supervisor fa-solid fa-file-invoice fas"></i> </a>
			<label class="supervisor icon-label">Sales Report</label>
		</div>
		<div class="supervisor col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/sales}" title="Daily-Sales"> <i class="supervisor fa-solid fa-filter fas"></i> </a>
			<label class="supervisor icon-label">Daily Sales</label>
		</div>
		<div class="supervisor col-sm d-flex flex-column align-items-center">
			<a th:href="@{/ui/admin}" title="Admin"> <i class="supervisor fa-solid fa-unlock fas"></i> </a>
			<label class="supervisor icon-label">Admin</label>
		</div>
	</div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>