<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<title>Home</title>

<body>

<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

	<div class="row">&nbsp;</div>

 <!-- Top row with form-->
	<div class="row">
		 <div class="col-sm">
			<a th:href="@{/ui/admin}" title="Admin"> <i class="fa-solid fa-unlock fas"></i> </a>
		 </div>
		<div class="col-sm">
			<a th:href="@{/ui/brands}" title="Brand"> <i class="fa-sharp fa-solid fa-trademark fas"></i> </a>
		</div>
		<div class="col-sm">
			<a th:href="@{/ui/product}" title="Product"> <i class="fa-brands fa-product-hunt fas"></i> </a>
		</div>
		<div class="col-sm">
			<a th:href="@{/ui/inventory}" title="Inventory"> <i class="fa-solid fa-store fas"></i> </a>
		</div>
		<div class="col-sm">
			<a th:href="@{/ui/order}" title="Order"> <i class="fa-solid fa-cart-shopping fas"></i> </a>
		</div>
		<div class="col-sm">
			<a th:href="@{/ui/salesreport}" title="Sales-Report"> <i class="fa-solid fa-file-invoice fas"></i> </a>
		</div>
		<div class="col-sm">
			<a th:href="@{/ui/sales}" title="Daily-Sales"> <i class="fa-solid fa-filter fas"></i> </a>
		</div>
	</div>

	<div class="row">
		<div class="col-sm icon-label">
			Admin
		</div>
		<div class="col-sm icon-label">
			Brands
		</div>
		<div class="col-sm icon-label">
			Products
		</div>
		<div class="col-sm icon-label">
			Inventory
		</div>
		<div class="col-sm icon-label">
			Orders
		</div>
		<div class="col-sm icon-label">
			Sales Report
		</div>
		<div class="col-sm icon-label">
			Daily Sales
		</div>
	</div>


</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>


</body>

</html>