<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<title>Login</title>
<body>

<nav th:replace="snippets.html :: name_signup_navbar"></nav>


<div class="container">

	<div class="row-12 my-10">&nbsp;</div>

<div class="row">
<div class="col-12 d-flex justify-content-center">

	<div class="card" style="width: 500px">
		<article class="card-body">
			<h3 class="card-title text-center mb-4 mt-1">Login</h3>
			<div class="card-footer text-danger" style="background-color: white">
				[[${info.getMessage()}]]
			</div>
			<form class="form" id="init-form" method="POST" th:action="@{/session/login}">
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-user"></i> </span>
						</div>
						<input type="text" class="form-control" name="email" id="email" placeholder="enter email">
					</div> <!-- input-group.// -->
				</div> <!-- form-group// -->
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
						</div>
						<input type="password" class="form-control" name="password" id="password" placeholder="password">
					</div> <!-- input-group.// -->
				</div> <!-- form-group// -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block btn-in"> Submit </button>
				</div> <!-- form-group// -->
			</form>
			<div class="card-footer" style="text-align: center; background-color: white">
				Don't have an Account? <a class="link" th:href="@{/site/init}"> Signup </a>
			</div>
		</article>
	</div> <!-- card.// -->

</div> <!-- Col -->
</div> <!-- Row -->

</div> <!-- Container-->

<!--<footer th:replace="snippets.html :: name_footer"></footer>-->

</body>

</html>
