<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>
<title>Orders</title>

<body>
<nav th:replace="snippets.html :: name_app_navbar"></nav>

<div class="container">

    <div class="row">&nbsp;</div>

    <!-- Top row with form-->
    <div class="row">
        <div class="col-12">
            <form class="form" id="order-form">
                <button type="button" class="btn btn-primary" id="add-order" title="Create Order"><i class="fa-solid fa-plus button-icon"></i></button>
            </form>
        </div>
    </div>

    <div class="row d-flex justify-content-end" id="total-rows">
        <span class="py-2 px-3"> Total Rows : </span>
    </div>

    <div class="row">

        <!-- Table -->
        <div class="col-12">
            <table class="table" id="order-table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Order Date</th>
                    <th scope="col" class="col-2"> </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>id1</td>
                    <td>1/1/1</td>
                    <td>View</td>
                </tr>
                <tr>
                    <td>id2</td>
                    <td>2/2/2</td>
                    <td>View</td>
                </tr>
                <tr>
                    <td>id3</td>
                    <td>3/3/3</td>
                    <td>View</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

<!--   Order Item Modal -->
    <div class="modal over-modal" tabindex="-1" role="dialog" id="add-order-item-modal" data-backdrop="static" >
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cart</h5>
                </div>
                <div class="modal-body">
                    <form class="form" id="order-item-form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputBarcode" class="col-sm-2 col-form-label">Barcode</label>
                                <div class="col-sm-12">
                                    <input type="text" maxlength="8" class="form-control" id="inputBarcode" name="barcode" placeholder="enter barcode">
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputQuantity" class="col-sm-2 col-form-label">Quantity</label>
                                <div class="col-sm-12">
                                    <input type="text" maxlength="15" class="form-control" id="inputQuantity" name="quantity" placeholder="enter quantity">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputSellingPrice" class="col-sm-6 col-form-label">Selling Price</label>
                                <div class="col-sm-12">
                                    <input type="text" maxlength="15" class="form-control" id="inputSellingPrice" name="sellingPrice" placeholder="enter selling price">
                                </div>
                            </div>
                            <div class="form-group col-md d-flex align-items-end flex-column px-4">
                                <div class="form-group col-md"> &nbsp; </div>
                                <button type="button" maxlength="15" class="btn btn-primary" id="add-order-item" title="Add Order Item"> <i class="fa-solid fa-plus"></i> </button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="row">

                        <!-- Table -->
                        <div class="col-12 px-4">
                            <table class="table" id="order-item-table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Selling Price</th>
                                    <th scope="col-md" class="col-2"> </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Barcode1</td>
                                    <td>11</td>
                                    <td>21</td>
                                    <td>Delete</td>
                                </tr>
                                <tr>
                                    <td>Barcode2</td>
                                    <td>12</td>
                                    <td>22</td>
                                    <td>Delete</td>
                                </tr>
                                <tr>
                                    <td>Barcode3</td>
                                    <td>13</td>
                                    <td>23</td>
                                    <td>Delete</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onClick="clearCart()">Cancel</button>
                    &nbsp;
                    <button type="button" class="btn btn-primary" id="place-order" disabled="disabled">Order</button>
                </div>
            </div>
        </div>
    </div>

    <!--   Order View Modal ------------------------------------------------------------------------------- -->
    <div class="modal" tabindex="-1" role="dialog" id="view-order-item-modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row"></div>
                    <div class="row">
                        <!-- Table -->
                        <div class="col-12">
                            <table class="table " id="view-order-item-table">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">Barcode</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Selling Price</th>
                                    <th scope="col">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Barcode1</td>
                                    <td>11</td>
                                    <td>21</td>
                                    <td>31</td>
                                </tr>
                                <tr>
                                    <td>Barcode2</td>
                                    <td>12</td>
                                    <td>22</td>
                                    <td>32</td>
                                </tr>
                                <tr>
                                    <td>Barcode3</td>
                                    <td>13</td>
                                    <td>23</td>
                                    <td>33</td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- Table end-->
                        </div>
                    </div>
                </div> <!-- Modal end -->
            </div>
        </div>
    </div>



</div> <!-- Container end-->

<footer th:replace="snippets.html :: name_footer"></footer>

<script th:src="@{/static/order.js}"/></script>

</body>

</html>