<!--HEADER SNIPPET-->
<head th:fragment="name_head">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="baseUrl" th:attr="content=${baseUrl}">

<script src="https://kit.fontawesome.com/c30beb553f.js" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
<link rel="stylesheet" th:href="@{/static/app.css}">

</head>

<!--NAVBAR SNIPPET-->

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-1" th:fragment="name_site_navbar">
  <a class="navbar-brand" th:href="@{/}">
    <img th:src="@{/static/logo.png}" class="d-inline-block align-top" alt="" height="60">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!--  <div class="collapse navbar-collapse" id="navbarNav">-->
<!--    <ul class="navbar-nav ml-auto">-->
<!--       <li class="nav-item">-->
<!--        <a class="btn btn-primary" th:href="@{/site/login}">Login</a>-->
<!--      </li>-->
<!--    </ul>-->
<!-- -->
<!--  </div>-->
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light  mb-1" th:fragment="name_app_navbar">
  <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/static/logo.png}" class="d-inline-block align-top" alt="" height="60">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/home}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/brands}">Brands</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/product}">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/inventory}">Inventory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/order}">Order</a>
        </li>
<!--        TODO: rename sales and daily to more appropriate names-->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/salesreport}">Sales</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" th:href="@{/ui/sales}">Daily</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/ui/admin}">Admin</a>
        </li>
    </ul>
    
    <ul class="navbar-nav ml-auto">
        <li class="navbar-text">
            <i class="fa-solid fa-circle-user fa-lg"></i>
            [[${info.getEmail()}]] &nbsp;
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary" th:href="@{/session/logout}">Logout</a>
        </li>
    </ul>
<!--    TODO: logout not working-->
  </div>
</nav>

<!--FOOTER SNIPPET-->

<footer class="footer  mt-1" th:fragment="name_footer">
	Copyright Increff 2023
	&nbsp;
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:src="@{/static/app.js}"/></script>
	<script th:src="@{/static/papaparse.min.js}"/></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script src="https://kit.fontawesome.com/4351c57b31.js" crossorigin="anonymous"></script>

</footer>


